




@tailwind base;
@tailwind components;

$risered:   rgba(222,34,92, 1) ;
$footer-height: 4rem;

html, body {
  height:100%;
  margin: 0;
}

a {
  transition: all 300ms;
}
php {
  display: none;
}
 
.element-item{
  @apply  w-1/4   ;
}

.body-wrapper{
  margin-bottom:-$footer-height;
  min-height: 100%;
}
footer { 
 
  border-top: rgba(222,34,92, .5) 1px solid; 
  height: $footer-height;
 
 
  /* background: rgba(0,0,0,.5); */


}
.footer-push {
  height: $footer-height;
  width:100%;
}




.accordian-h3 { 
  @apply   uppercase block text-3xl py-5 border-gray-800 border px-4 mt-4 cursor-pointer font-black   mx-auto  ;
}
.accordian-body {
  @apply leading-loose  p-4  mx-auto;
}
.accordian-h3:focus {
  @apply  outline-none border-risered ;
}

.qs-title {
    @apply text-4xl uppercase py-3 text-center  ;
} 

@screen md {
    .qs-title {
        @apply  text-left ;
    }
}

h1, h2, h3, h4, h5 {
    @apply text-risered ;
}


.modal-mc-bg {
  background-color: rgba(0, 0, 0, 0.6);
  display:none;
}


.press-item {
  @apply  w-1/2 mt-4   leading-loose;
 
  .inner {
    @apply border border-gray-800  p-5;
  }
}
@screen  sm  {
  .press-item { 
    @apply text-lg;
  }
 
  }


@tailwind utilities;